@mixin button($text-color: $white-color, $background-color: $secondary-color) {
    display: inline-block;
    width: fit-content;
    padding:  0.75rem 1rem;
    border-radius:  0.4rem;
    background: $background-color;
    color: $text-color;
    cursor: pointer;
    transition: all 400ms ease;

    &:hover{
        background: lighten($background-color, 8%);
    }
}

@mixin gradientBackground{
    background: linear-gradient(135deg, $primary-color, $primary-color-variant);
    color: $white-color;

    h1,h2,h3,h4,h5{
        color: $white-color;
    }
}